body {
  display: block;
}
body.active {
  overflow: hidden;
}

.popUpWrap {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(160, 160, 160, 0.473);
  width: 99.9%;
  height: 100%;
  overflow: hidden;
}

.popUpWrap.active {
  display: block;
}

.popUpCard {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.cardWrap {
  position: relative;
  background-color: rgba(243, 196, 94, 0.938);
  height: 600px;
  width: 600px;
  overflow-x: auto;
  padding: 5% 5%;
}

.upCloseBtn {
  background-color: bisque;
  border-style: none;
  transition: all;
  transition-duration: 0.1s;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  width: 35px;
  height: 35px;
}

.upCloseBtn:hover {
  background-color: rgb(218, 134, 31);
  border-style: none;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: #3ae623;
}

.upCloseBtn:active {
  background-color: rgb(211, 206, 200);
  border-style: none;
  width: 40px;
  height: 40px;
  color: white;
}

.popUpImg {
  height: 350px;
  width: 350px;
}

.popUpTitle {
  font-size: 15px;
}

.mealIfo {
  width: 99.9%;
}

.orginInfo {
  display: flex;
  text-align: start;
  align-items: start;
  justify-content: space-evenly;
}

textarea {
  resize: none;
}

.commentWrap {
  display: flex;
  text-align: start;
  align-items: start;
  flex-direction: column;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgb(236, 238, 146);
}

.comments {
  font-size: 14px;
  font-weight: 300px;
}

.addCommentWrap {
  display: flex;
  text-align: start;
  align-items: start;
  flex-direction: column;
  gap: 2px;
  padding: 5% 25%;
}

.commentBtnCom {
  background-color: bisque;
  border-style: none;
  width: 100px;
  height: 30px;
  transition: all;
  transition-duration: 0.1s;
}

.commentBtnCom:hover {
  background-color: rgb(218, 134, 31);
  border-style: none;
  width: 110px;
  height: 35px;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: #3ae623;
}

.commentBtnCom:active {
  background-color: rgb(211, 206, 200);
  border-style: none;
  width: 110px;
  height: 35px;
  color: white;
}

.cardWrap::-webkit-scrollbar {
  width: 1em;
}

.cardWrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cardWrap::-webkit-scrollbar-thumb {
  background-color: rgb(241, 179, 98);
  outline: 1px solid rgba(212, 212, 212, 0.918);
}

@media (max-width: 768px) {
  .cardWrap {
    height: 500px;
    width: 300px;
  }
  .popUpImg {
    height: 300px;
    width: 300px;
  }
  .upCloseBtn {
    top: 1.5rem;
    right: 1rem;
  }
  .comments {
    font-size: 12px;
    font-weight: 200px;
  }
}
